.privet
{
FONT-STYLE: SMALL-CAPS; 
BACKGROUND: RED; 
PADDING-LEFT: 18PX;
}

.red 
{BACKGROUND-color: red}

.zagolovok 
{color: RED; TEXT-ALIGN: RIGHT;}

.CSS {
    background-color: rgb(152, 10, 218);
    width: 540px;
    height: 120px;
    margin-left: 36%;
}
.CSS_TEXT {
    align-items: center;
    color: rgb(201, 12, 201);
    text-shadow: 5px 1px 1px rgb(0, 0, 0);
    font-size: 47px;
    margin: 0;
}

.CSS_TEXT_OP {
    font-size: 30px;
    margin: 0;
    color: rgb(201, 12, 201)
}

.№6 {
    width: 620px;
    height: 400px;
    background-color: #e7d800;
    margin-left: 34%;
}

.№6text {
    font-size: 18px;
}

.№6text::first-letter {
    margin: 0;
    color: rgb(211, 144, 0);
    font-size: 50px;
    line-height: 1;
    float: left;
}

.№7 {
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 20px;
}

.№7text {
    font-size: 14px;
    font-family: 'Monotype Corsiva', cursive;
}

.№7img {
    width: 400px;
    height: 200px;
    border: 10px solid blue;
}

.table№8 {
    border: 10px solid blue;
    border-collapse: collapse; 
    width: 100%; 
}

.th8 {
    background-color: yellow; 
    color: red; 
    border: 3px red dashed; 
    padding: 10px; 
}

.td8 {
    background-color: green; 
    border: 2px solid yellow; 
    padding: 10px; 
}

.№9 {
    width: 600px;
    height: 470px;
    background-color: #66f5ff;
    margin-left: 34%;
}

.№9photo {
    width: 120px;
    height: 120px;
    margin-left: 41%;
}

.№9table2 {
    border: 4px solid rgb(255, 0, 51);
    background-color: #c7941d;
}

.th29 {
    border: 2px dashed rgb(255, 0, 51);
    background-color: #d17c3b;
    color: blue;
}

.№9table {
    border: 4px solid rgb(255, 0, 51);
    display: inline-block;
    padding: 3px; 
    margin-left: 30%;
}

.td29 {
    background-color: #ffb300;
    border: 4px solid crimson;
}
